html(lang='en')
  head
    meta(charset='utf-8')
    title AUTH Server Demo
    meta(name='description', content='secure html login')
    meta(name='author', content='Dani Alakabani')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', type='text/css', href='/styles/style.css')
    link(rel='icon' href='/images/favicon.png' type='image/x-icon')
    block headers
  body
    nav(class='nav-wrapper')
      .container
        a.brand-logo(href='/') Volcanic
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href='/login') Login
          li
            a(href='/register') Register
          li
            a(href='/posts') Posts
          block links
    block content

    footer.page-footer
      .container
        .row
          .col.l6.s12
            h5.white-text Volcanic Authentication Service
            p.grey-text.text-lighten-4 Secure connection between services
          .col.l4.offset-l2.s12
            h5.white-text Useful Links
            ul
              li
                a.grey-text.text-lighten-3(href='/login') Login
              li
                a.grey-text.text-lighten-3(href='/register') Register
              li
                a.grey-text.text-lighten-3(href='/posts') Posts
      .footer-copyright
        .container
          | © 2019 Copyright 
          a.grey-text.text-lighten-4.right(href='/') Volcanic
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')