extends layouts/main-layout.pug
block content
  #main
    figure#main-banner
      img(src='http://www.designtos.com/postpic/2011/08/magenta-color-background-desktop_335939.jpg')
    article
      h1 AUTH Server Demo
      h2=message
    