extends layouts/main-layout.pug

block content
  div.container
    .row
      form.col.s8.the-form(action='/register/auth', method='POST')
        .row
          .input-field.col.s12
            input#username.input(type='text', name='username', autocomplete='off')
            label(for='username') Username
            button.btn.waves-effect.waves-light.red.lighten-2(type='submit') register!